In [2]:
import pandas as pd

In [16]:
df = pd.read_excel("./databases/riotgames.xlsx")

In [27]:
data_A = {'login': ['login1', 'login2', 'login3'],
          'password': ['password1', 'password2', 'password2']}
dff = pd.DataFrame(data_A)

In [28]:
df

     login   password
0   login2  password1
1   login3  password2
2   login4  password3
3   login5  password4
4   login6  password5
5   login7  password6
6   login8  password7
7   login9  password8
8  login10  password9

In [29]:
dff

    login   password
0  login1  password1
1  login2  password2
2  login3  password2

In [30]:
df

     login   password
0   login2  password1
1   login3  password2
2   login4  password3
3   login5  password4
4   login6  password5
5   login7  password6
6   login8  password7
7   login9  password8
8  login10  password9

In [32]:
merged = pd.merge(dff, df, on=['login', 'password'], how='outer', indicator=True)

# Filter rows where the indicator column is 'left_only' (i.e., rows that are in B but not in A)
not_in_A = merged[merged['_merge'] == 'left_only']

# Count the number of rows in B that are not in A
num_rows_not_in_A = len(not_in_A)

print(f"Number of rows in B not in A: {num_rows_not_in_A}")
print("Rows in B not in A:")
print(not_in_A)

Number of rows in B not in A: 2
Rows in B not in A:
    login   password     _merge
0  login1  password1  left_only
1  login2  password2  left_only

In [35]:
len(merged[merged['_merge'] == 'both'])

1

In [22]:
del merged["_merge"]

In [33]:
merged

      login   password      _merge
0    login1  password1   left_only
1    login2  password2   left_only
2    login3  password2        both
3    login2  password1  right_only
4    login4  password3  right_only
5    login5  password4  right_only
6    login6  password5  right_only
7    login7  password6  right_only
8    login8  password7  right_only
9    login9  password8  right_only
10  login10  password9  right_only

In [24]:
merged.to_excel('databases/riotgames.xlsx')

In [19]:
class CheckForUniqRowsService: 
    
    
    def __init__(self, user_file: pd.DataFrame, website: str) -> None:
        
        self.user_data = user_file,
        self.website = website
        
    def getUniqRows(self):
        
        df = pd.read_excel(f"./databases/{self.website}.xlsx")
         
        dff = self.user_data
        dff = dff[0] 
        merged = pd.merge(dff, df, on=['login', 'password'], how='outer', indicator=True)
        not_in_db = merged[merged['_merge'] == 'left_only']
        num_rows_not_in_db = len(not_in_db)

        print(f"Number of rows in B not in A: {num_rows_not_in_db}")

In [14]:
CheckForUniqRowsService(dff,'riotgames').getUniqRows()

Number of rows in B not in A: 2